:root {
    --number-flow-mask-height: 0.05em;
}

.wallet {
    .balance {
        display: flex;
        padding: 72px 0 48px;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        color: var(--tg-theme-text-color);
    
        .label {
            :global(body.apple) & {
                color: var(--tg-theme-text-color);
            }
    
            :global(body.material) & {
                color: var(--tg-theme-subtitle-text-color);
            }
        }
    
        .amount span {
            font-family: ui-rounded, -apple-system, system-ui, sans-serif;
            font-size: 48px;
            font-weight: 700;
            color: var(--tg-theme-text-color);
            font-variant-numeric: lining-nums tabular-nums;
    
            number-flow-react::part(prefix) {
                color: var(--tg-theme-subtitle-text-color);
            }
        }
    
        :global(body.material) & {
            background-color: var(--tg-theme-section-bg-color);
            padding: 92px 0 31px;
    
            .amount {
                font-family: Roboto, system-ui, sans-serif;
                font-size: 44px;
                font-weight: 500;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding: 0 16px 16px;
        gap: 8px;
    
        :global(body.apple) & {
            svg, path {
                width: 28px;
                height: 28px;
            }
        }
    
        :global(body.material) & {
            background-color: var(--tg-theme-section-bg-color);
            box-shadow: 0 0.33px 1px 0 rgb(0 0 0 / 6%);
            padding: 0 8px 8px;
    
            svg, path {
                width: 32px;
                height: 32px;
            }
        }
    }
    
    .transactions {
        background-color: var(--tg-theme-section-bg-color);
    
        .Cell:last-child .body,
        .Cell:last-child .right {
            border-bottom: 0;
        }
    }

    .smallAssets {
        overflow: hidden;

        .Cell:last-child .body,
        .Cell:last-child .end {
            border-bottom: 0.33px solid var(--tg-theme-section-separator-color);
        }
    }
}