.PanelHeader {
    position: relative;
    display: flex;

    .body {
        display: flex;
        flex: 1 0 0;
        align-self: stretch;

        .left {
            display: flex;
            align-items: center;
            flex: 1 0 0;
            align-self: stretch;
            padding: 0px 16px;
            color: var(--tg-theme-accent-text-color);
        }

        .right {
            display: flex;
            align-items: center;
            flex: 1 0 0;
            align-self: stretch;
            padding: 0px 16px;
            justify-content: flex-end;
            color: var(--tg-theme-accent-text-color);
        }

    }

    .middle {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    body.apple & {
        height: 44px;

        &.modal-height {
            height: 56px;
        }
    }

    body.material & {
        height: 56px;
        background-color: var(--tg-theme-section-bg-color);

        &.modal-height {
            height: 60px;
            padding-top: 6px;
        }

        .left, .right {
            display: none;
        }

        .middle {
            padding: 0 var(--side-padding);
            justify-content: left;
        }
    }
}