.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    text-decoration: none;
    font-weight: 500;

    color: var(--tg-theme-text-color);

    :global(body.apple) & {
        padding: 4px 0 6px;
        font-size: 10px;
        line-height: 12px;
        opacity: 0.85;
        position: relative;
        z-index: 2;

        svg, path {
            height: 32px;
        }

        .icon {
            height: 32px;
        }
    }

    :global(body.material) & {
        padding: 4px 0;
        font-size: 11px;
        line-height: 12px;
        gap: 0;
        opacity: 0.44;

        svg, path {
            height: 28px;
        }

        .icon {
            height: 28px;
        }
    }

    svg, path,
    :global(.wallet-lottie_fill-color) path {
        fill: var(--tg-theme-text-color);
    }

    :global(.wallet-lottie_stroke-color) path {
        stroke: var(--tg-theme-text-color);
    }

    :global(body.apple) &:not(:first-child) {
        margin-left: -7.33px;
    }
}

.active {
    :global(body.apple) & {
        opacity: 1;
        border-radius: 100px;

        svg, path {
            fill: var(--tg-theme-accent-text-color);
        }
    }
}