.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    text-decoration: none;
    font-weight: 500;

    :global(body.apple26) & {
        opacity: 0.4 !important;
        position: relative;
        z-index: 2;
    }

    :global(body.apple26) :global([data-color-scheme="dark"]) & {
        mix-blend-mode: plus-lighter;
    }

    :global(body.apple) & {
        padding: 4px 0 6px;
        color: var(--tg-theme-text-color);
        font-size: 10px;
        line-height: 12px;
        opacity: 0.4;
        gap: 2px;

        :global(.wallet-lottie_fill-color) path {
            fill: var(--tg-theme-text-color);
        }

        :global(.wallet-lottie_stroke-color) path {
            stroke: var(--tg-theme-text-color);
        }

        svg, path {
            fill: var(--tg-theme-text-color);
            height: 32px;
        }

        .icon {
            height: 32px;
        }
    }

    :global(body.material) & {
        padding: 6px 0 3px;
        color: var(--tg-theme-subtitle-text-color);
        font-size: 13px;
        line-height: 16px;
        gap: 3px;

        svg, path {
            fill: var(--tg-theme-subtitle-text-color);
            height: 28px;
        }

        .icon {
            height: 28px;
        }
    }

    // Spacing between sibling tabs in Apple26 layout
    :global(body.apple26) &:not(:first-child) {
        margin-left: -7.33px;
    }
}

.active {
    :global(body.apple) & {
        // color: var(--tg-theme-accent-text-color);
        opacity: 1;

        :global(.wallet-lottie_fill-color) path {
            // fill: var(--tg-theme-accent-text-color);
        }

        :global(.wallet-lottie_stroke-color) path {
            // stroke: var(--tg-theme-accent-text-color);
        }

        svg, path {
            // fill: var(--tg-theme-accent-text-color);
        }
    }

    :global(body.apple26) & {
        font-weight: 700;
        border-radius: 100px;
    }

    :global(body.material) & {
        color: var(--tg-theme-text-color);

        svg, path {
            fill: var(--tg-theme-text-color);
        }
    }
}

:global(body.apple26) {
    .tab:not(:first-child) {
        margin-left: -7.33px;
    }
}