.sectionList { 
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.sectionList .section {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.sectionList .section .Card {
    background-color: var(--tg-theme-section-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}