div[variant="title1"]{
    font-size: 28px;
    line-height: 34px;
}

div[variant="title3"] {
    font-size: 20px;
    line-height: 24px;
}

div[variant="body"] {
    font-size: 17px;
    line-height: 22px;
}

div[variant="subheadline2"] {
    font-size: 14px;
    line-height: 18px;
}

div[variant="footnote"] {
    font-size: 13px;
    line-height: 18px;
}

div[weight="regular"] {
    font-weight: 400;
}

div[weight="medium"]{
    font-weight: 500;
}

div[weight="semibold"] {
    font-weight: 600;
}

div[weight="bold"] {
    font-weight: 700;
}

div[data-rounded] {
    font-family: ui-rounded, apple-system, system-ui, sans-serif;
}

div[data-caps] {
    text-transform: uppercase;
}