.Cell {
	display: flex;
	flex-direction: row;
	color: var(--tg-theme-text-color);
	cursor: pointer;
	padding-left: var(--side-padding);
	min-height: 44px;
	text-decoration: none;
}
	
.Cell .start {
	display: flex;
	align-items: center;
}
	
.Cell .start {
	padding: 10px 10px 10px 0px;
}
	
.Cell .start .image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: contain;
}
	
.Cell .start .icon {
	display: flex;
	width: 40px;
	height: 40px;
	background: linear-gradient(156.88deg, #00E7FF 14.96%, #007AFF 85.04%);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.Cell .start .icon svg,
.Cell .start .icon path {
	fill: white;
}
	
.Cell .body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 10px var(--side-padding) 10px 0;
	border-bottom: 0.33px solid var(--tg-theme-section-separator-color);
}
	
.Cell .end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 0 8px;
	padding-right: var(--side-padding);
	text-align: right;
	border-bottom: 0.33px solid var(--tg-theme-section-separator-color);
	white-space: nowrap;
}
	
.Cell .label {
	color: var(--tg-theme-text-color);
	font-variant-numeric: lining-nums tabular-nums;
}

.Cell .label.accent {
	color: var(--tg-theme-accent-text-color);
}
	
.Cell .caption {
	max-height: 18px;
	color: var(--tg-theme-subtitle-text-color);
}

.Cell .end .caption::first-letter {
	text-transform: capitalize;
}

.Cell .end.received .label,
.Cell .end.received .caption {
    color: var(--text-confirm-color);
}

.Cell .end.failed .label,
.Cell .end.failed .caption {
    color: var(--tg-theme-destructive-text-color);
}

.Cell .chevron {
	width: 7px;
	height: 12px;
	background-color: var(--tg-theme-section-separator-color);
    mask: url(../../Icons/12/Chevron.svg) no-repeat center;
}

.Cell .dropdown {
	color: var(--tg-theme-accent-text-color);
}

.Cell .dropdown::after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: var(--tg-theme-accent-text-color);
	mask: url(../../Icons/12/Dropdown.svg) no-repeat center;
	margin-left: 5px;
}