.root {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    background: var(--tg-theme-bottom-bar-bg-color);
    padding-bottom: env(safe-area-inset-bottom);

    :global(body.apple) & {
        box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    }

    :global(body.material) & {
        box-shadow: 0 -0.5px 0 0 var(--tg-theme-section-separator-color), 
            0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    }

    .tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex: 1 0 0;
        text-decoration: none;
        font-weight: 500;

        :global(body.apple) & {
            padding: 2px 0px 1px;
            color: var(--tg-theme-text-color);
            font-size: 10px;
            line-height: 12px;
            opacity: 0.4;
            gap: 2px;

            :global(.wallet-lottie_fill-color) path {
                fill: var(--tg-theme-text-color);
            }

            :global(.wallet-lottie_stroke-color) path {
                stroke: var(--tg-theme-text-color);
            }

            svg, path {
                fill: var(--tg-theme-text-color);
                height: 32px;
            }

            .icon {
                height: 32px;
            }
        }

        :global(body.material) & {
            padding: 6px 0px 3px;
            color: var(--tg-theme-subtitle-text-color);
            font-size: 13px;
            line-height: 16px;
            gap: 3px;

            svg, path {
                fill: var(--tg-theme-subtitle-text-color);
                height: 28px;
            }

            .icon {
                height: 28px;
            }
        }
    }

    .tab.active {
        :global(body.apple) & {
            color: var(--tg-theme-accent-text-color);
            opacity: 1;

            :global(.wallet-lottie_fill-color) path {
                fill: var(--tg-theme-accent-text-color);
            }

            :global(.wallet-lottie_stroke-color) path {
                stroke: var(--tg-theme-accent-text-color);
            }

            svg, path {
                fill: var(--tg-theme-accent-text-color);
            }
        }

        :global(body.material) & {
            color: var(--tg-theme-text-color);

            svg, path {
                fill: var(--tg-theme-text-color);
            }
        }
    }
}