.root {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    background: var(--tg-theme-bottom-bar-bg-color);
    padding-bottom: env(safe-area-inset-bottom);
    will-change: transform;

    :global(body.apple26) & {
        position: absolute;
        left: 21px;
        right: 21px;
        margin: 0;
        bottom: 21px;
        border-radius: 100px;
        padding: 4px;
        background: rgba(from var(--tg-theme-section-bg-color) r g b / 0.7);
        backdrop-filter: saturate(180%) blur(8px);
        box-shadow: none !important;
        isolation: isolate;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;
            z-index: 1;
            box-shadow: 0 0 10px 0 rgba(0 0 0 / 0.1);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;
            z-index: 0;
            box-shadow: 0.67px 0.67px 0.25px 0 white inset, 
                    -0.67px -0.67px 0.25px 0 white inset, 
                    0 0 20px 0 var(--tg-theme-section-bg-color) inset !important;
            mix-blend-mode: saturation;
        }
    }

    :global(body.apple) & {
        box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    }

    :global(body.material) & {
        box-shadow: 0 -0.5px 0 0 var(--tg-theme-section-separator-color), 
            0 1px 3px 0 rgb(0 0 0 / 6%);
    }

    // .tab and .tab.active styles are moved to components/Tab/Tab.module.scss

    .gradient {
        position: absolute;
        content: "";
        inset: 0;
        background: linear-gradient(
            to bottom,
            rgba(from var(--tg-theme-secondary-bg-color) r g b / 0),
            rgba(from var(--tg-theme-secondary-bg-color) r g b / 0.9)
        );
        z-index: -1;
        margin: -12px -21px -21px;
    }

    .activeIndicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--tg-theme-accent-text-color);
        border-radius: 2px 2px 0 0;
        z-index: 2;
        will-change: left;

        :global(body.apple26) & {
            background-color: var(--secondary-button-color);
            border-radius: 100px;
            height: calc(100% - 8px);
            top: 4px;
            z-index: 1;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}