.root {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    padding-bottom: env(safe-area-inset-bottom);

    :global(body.apple) & {
        position: absolute;
        left: 21px;
        right: 21px;
        bottom: 21px;
        border-radius: 100px;
        padding: 4px;
        margin: 0;
        background: rgba(from var(--tg-theme-section-bg-color) r g b / 0.7);
        box-shadow: none;
    }

    :global(body.material) & {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 16px;
        border-radius: 100px;
        padding: 4px;
        width: calc(100% - 32px);
        background: rgba(from var(--tg-theme-section-bg-color) r g b / 0.84);
        backdrop-filter: blur(30px) saturate(10);
        box-shadow: 
            0 1px 2px 0 rgba(0, 0, 0, 0.08), 
            0 2px 16px 1px rgba(0, 0, 0, 0.10);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;
    }

    &:before {
        background: rgba(from var(--quaternary-fill-background) r g b / 0.04);
        z-index: 0;
    }

    &:after {
        border-top: 1px solid #FFF;
        border-bottom: 0.5px solid #FFF;
        mix-blend-mode: saturation;
        z-index: 2;
    }

    .content {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .gradient {
        --mask-color: var(--tg-theme-secondary-bg-color);
        --mask-opacity-top: 0;
        --mask-opacity-bottom: 0.9;
        --padding: 21px;

        position: absolute;
        inset: 0;
        width: calc(100% + var(--padding) * 2);
        height: calc(64px + var(--padding) * 2);
        z-index: 0;
        margin: calc(var(--padding) * -1);
    }

    .activeIndicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 2px 2px 0 0;
        z-index: 2;
        will-change: left;

        :global(body.apple) & {
            background-color: var(--secondary-button-color);
            border-radius: 100px;
            height: calc(100% - 8px);
            top: 4px;
            z-index: 1;
            margin-left: 4px;
            margin-right: 4px;
        }

        :global(body.material) & {
            background-color: var(--tg-theme-text-color);
        }
    }

    .clipPathContainer {
        position: absolute;
        display: flex;
        background-color: var(--tertiary-fill-background);
        width: calc(100% - 8px);
        clip-path: inset(0px calc(75% - 5px) 0px 0% round 100px);
        will-change: clip-path;
        z-index: 10;
        overflow: hidden;
        transform: translateZ(0);
        isolation: isolate;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        :global(body.apple) & {
            --active-color: var(--tg-theme-accent-text-color);
        }

        :global(body.material) & {
            --active-color: var(--tg-theme-text-color);
        }

        span {
            color: var(--active-color) !important;
        }

        :global(.wallet-lottie_fill-color) path {
            fill: var(--active-color) !important;
        }

        :global(.wallet-lottie_stroke-color) path {
            stroke: var(--active-color) !important;
        }


        [data-overlay] {
            opacity: 1 !important;
        }
    }
}