.root {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
    background: var(--tg-theme-bottom-bar-bg-color);
    padding-bottom: env(safe-area-inset-bottom);

    :global(body.apple) & {
        position: absolute;
        left: 21px;
        right: 21px;
        margin: 0;
        bottom: 21px;
        border-radius: 100px;
        padding: 4px;
        background: rgba(from var(--tg-theme-section-bg-color) r g b / 0.7);
        box-shadow: none !important;
    }

    :global(body.material) & {
        box-shadow: 0 -0.5px 0 0 var(--tg-theme-section-separator-color), 
            0 1px 3px 0 rgb(0 0 0 / 6%);
    }

    .gradient {
        --mask-color: var(--tg-theme-secondary-bg-color);
        --mask-opacity-top: 0;
        --mask-opacity-bottom: 0.9;
        --padding: 21px;

        position: absolute;
        inset: 0;
        width: calc(100% + var(--padding) * 2);
        height: calc(64px + var(--padding) * 2);
        z-index: 0;
        margin: calc(var(--padding) * -1);
    }

    .activeIndicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--tg-theme-accent-text-color);
        border-radius: 2px 2px 0 0;
        z-index: 2;
        will-change: left;

        :global(body.apple) & {
            background-color: var(--secondary-button-color);
            border-radius: 100px;
            height: calc(100% - 8px);
            top: 4px;
            z-index: 1;
            margin-left: 4px;
            margin-right: 4px;
        }
    }

    .clipPathContainer {
        position: absolute;
        display: flex;
        background-color: var(--quaternary-fill-background);
        width: calc(100% - 8px);
        clip-path: inset(0px calc(75% - 5px) 0px 0% round 100px);
        will-change: clip-path;
        z-index: 10;
        overflow: hidden;

        span {
            color: var(--tg-theme-accent-text-color) !important;
        }

        :global(.wallet-lottie_fill-color) path {
            fill: var(--tg-theme-accent-text-color) !important;
        }

        :global(.wallet-lottie_stroke-color) path {
            stroke: var(--tg-theme-accent-text-color) !important;
        }

        // Target Tab components rendered inside overlay (attribute comes from TabBar)
        [data-overlay] {
            opacity: 1 !important;
        }
    }
}