.root {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}
  
.root::-webkit-scrollbar {
    display: none;
}
  
.page {
    flex: none;
    scroll-snap-align: start;
    width: 100vw;
    height: 100dvh;
}
  