.root {
    position: relative;
}

.glassBackground {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    backdrop-filter: blur(8px);
    z-index: 0;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;

    @supports (-apple-visual-effect: -apple-system-glass-material) {
        -apple-visual-effect: -apple-system-glass-material;
        backdrop-filter: none;
    }
}

.glassTintBottom {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
    background: #333;
    mix-blend-mode: color-dodge;
}

.glassTintMiddle {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
    background: rgb(255 255 255 / 50%);
}

.glassTintTop {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
    background: #f7f7f7;
    mix-blend-mode: plus-darker;
}

.glassShadow {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    will-change: transform;
    transform: translateZ(0);
}