:root {
    --number-flow-mask-height: 0.05em;
}

.balance {
    display: flex;
    padding: 72px 0 48px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: var(--tg-theme-text-color);

    .label {
        :global(body.apple) & {
            color: var(--tg-theme-text-color);
        }

        :global(body.material) & {
            color: var(--tg-theme-subtitle-text-color);
        }
    }

    .amount span {
        font-family: ui-rounded, -apple-system, system-ui, sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: var(--tg-theme-text-color);
        font-variant-numeric: lining-nums tabular-nums;

        number-flow-react::part(prefix) {
            color: var(--tg-theme-subtitle-text-color);
        }
    }

    :global(body.material) & {
        background-color: var(--tg-theme-section-bg-color);
        padding: 92px 0 31px;

        .amount {
            font-family: Roboto, system-ui, sans-serif;
            font-size: 44px;
            font-weight: 500;
        }
    }
}
