.root {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
    contain: layout style paint;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: contents;
    display: block;
    opacity: var(--opacity-max, 1);
}

.patternCanvas {
    z-index: 1;
    opacity: var(--opacity-max, 1);
    display: block;
}

.blend {
    mix-blend-mode: overlay;
}

