.wallet {
    .balance {
        display: flex;
        padding: 72px 0 48px 0;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        color: var(--tg-theme-text-color);
    
        .label {
            body.apple & {
                color: var(--tg-theme-text-color);
            }
    
            body.material & {
                color: var(--tg-theme-subtitle-text-color);
            }
        }
    
        .amount span {
            font-family: ui-rounded, -apple-system, system-ui, sans-serif;
            font-size: 48px;
            font-weight: 700;
            color: var(--tg-theme-text-color);
            font-variant-numeric: lining-nums tabular-nums;
    
            :first-child {
                color: var(--tg-theme-subtitle-text-color);
            }
        }
    
        body.material & {
            background-color: var(--tg-theme-section-bg-color);
            padding: 92px 0 31px;
    
            .amount {
                font-family: 'Roboto', system-ui, sans-serif;
                font-size: 44px;
                font-weight: 500;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding: 0 16px 16px;
        gap: 8px;
    
        .button {
            display: flex;
            flex-direction: column;
            gap: 2px;
            flex: 1 0 0;
            justify-content: center;
            align-items: center;
            color: var(--tg-theme-accent-text-color);
            padding: 7px 0 8px;
            background-color: var(--tg-theme-section-bg-color);
            border-radius: 12px;
        }
    
        svg, path {
            fill: var(--tg-theme-accent-text-color);
        }
    
        body.apple & {
            svg, path {
                width: 28px;
                height: 28px;
            }
        }
    
        body.material & {
            background-color: var(--tg-theme-section-bg-color);
            box-shadow: 0px 0.33px 1px 0px rgba(0, 0, 0, 0.06);
            padding: 0 8px 8px;
    
            svg, path {
                width: 32px;
                height: 32px;
            }
        }
    }
    
    .transactions {
        background-color: var(--tg-theme-section-bg-color);
    
        .ListItem:last-child .body,
        .ListItem:last-child .right {
            border-bottom: 0;
        }
    }
}