:root {
    --tg-theme-text-color: #000000;
    --tg-theme-secondary-bg-color: #EFEFF4;
    --tg-theme-subtitle-text-color: #8E8E93;
    --tg-theme-destructive-text-color: #FF3B30;
  
    --separator-color: #C8C7CB;
    --text-confirm-color: #34C759;
    --quaternary-fill-background: rgba(116, 116, 128, 0.08);
  
    --side-padding: 16px;
}