* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

:root {
    .apple {
        --side-padding: 16px;
    }

    .material {
        --side-padding: 20px;
    }
}

:root {
    --tg-theme-bg-color: #FFFFFF;
    --tg-theme-text-color: #000000;
    --tg-theme-secondary-bg-color: #EFEFF4;
    --tg-theme-button-color: #007AFF;
    --tg-theme-button-text-color: #FFFFFF;
    --tg-theme-subtitle-text-color: #8E8E93;
    --tg-theme-destructive-text-color: #FF3B30;
    --tg-theme-section-bg-color: #FFFFFF;
    --tg-theme-accent-text-color: #007AFF;
    --tg-theme-section-header-text-color: #6D6D72;
    --tg-theme-section-separator-color: #C8C7CC;
    --text-confirm-color: #34C759;
    --quaternary-fill-background: rgba(116, 116, 128, 0.08);
    --separator-non-opaque: rgba(60, 60, 67, 0.36);
    --segmented_control_active_background: #FFFFFF;

    --background-material-regular-color-1: rgba(255, 255, 255, 0.25);
    --background-material-regular-color-2: rgba(255, 255, 255, 0.6);
    --background-material-regular-blend-mode-1: plus-lighter;
    --background-material-regular-blend-mode-2: normal;
}

@media (prefers-color-scheme: light) {
    :root {
        --tg-theme-bg-color: #FFFFFF;
        --tg-theme-text-color: #000000;
        --tg-theme-secondary-bg-color: #EFEFF4;
        --tg-theme-button-color: #007AFF;
        --tg-theme-button-text-color: #FFFFFF;
        --tg-theme-subtitle-text-color: #8E8E93;
        --tg-theme-destructive-text-color: #FF3B30;
        --tg-theme-section-bg-color: #FFFFFF;
        --tg-theme-accent-text-color: #007AFF;
        --tg-theme-section-header-text-color: #6D6D72;
        --tg-theme-section-separator-color: #C8C7CC;
        --text-confirm-color: #34C759;
        --quaternary-fill-background: rgba(116, 116, 128, 0.08);
        --separator-non-opaque: rgba(60, 60, 67, 0.36);
        --segmented_control_active_background: #FFFFFF;

        --background-material-regular-color-1: rgba(255, 255, 255, 0.25);
        --background-material-regular-color-2: rgba(255, 255, 255, 0.6);
        --background-material-regular-blend-mode-1: plus-lighter;
        --background-material-regular-blend-mode-2: normal;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --tg-theme-bg-color: #000000;
        --tg-theme-text-color: #FFFFFF;
        --tg-theme-secondary-bg-color: #1C1C1D;
        --tg-theme-button-color: #3E88F7;
        --tg-theme-button-text-color: #FFFFFF;
        --tg-theme-subtitle-text-color: #98989E;
        --tg-theme-destructive-text-color: #EB5545;
        --tg-theme-section-bg-color: #2C2C2E;
        --tg-theme-accent-text-color: #3E88F7;
        --tg-theme-section-header-text-color: #8D8E93;
        --tg-theme-section-separator-color: #545458;
        --text-confirm-color: #30D158;
        --quaternary-fill-background: rgba(118, 118, 128, 0.18);
        --separator-non-opaque: rgba(84, 84, 88, 0.65);
        --segmented_control_active_background: #636366;

        --background-material-regular-color-1: rgba(0, 0, 0, 0.41);
        --background-material-regular-color-2: rgba(0, 0, 0, 0);
        --background-material-regular-blend-mode-1: normal;
        --background-material-regular-blend-mode-2: normal;
    }
}


body {
 	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	background-color: var(--tg-theme-secondary-bg-color);

    &.apple {
        font-family: -apple-system, system-ui, sans-serif;
    }

    &.material {
        font-family: Roboto, system-ui, sans-serif;
    }
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}