* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

:root {
    --side-padding: 16px;
}

/* Для светлой темы */
body[data-color-scheme="light"] {
    --tg-theme-bg-color: #FFFFFF;
    --tg-theme-text-color: #000000;
    --tg-theme-secondary-bg-color: #EFEFF4;
    --tg-theme-subtitle-text-color: #8E8E93;
    --tg-theme-destructive-text-color: #FF3B30;
    --tg-theme-section-bg-color: #FFFFFF;
    --tg-theme-accent-text-color: #007AFF;
    --tg-theme-section_header_text_color: #6D6D72;
    --tg-theme-section-separator-color: #C8C7CC;
    --text-confirm-color: #34C759;
    --quaternary-fill-background: rgba(116, 116, 128, 0.08);
}

/* Для темной темы */
body[data-color-scheme="dark"] {
    --tg-theme-bg-color: #000000;
    --tg-theme-text-color: #FFFFFF;
    --tg-theme-secondary-bg-color: #1C1C1D;
    --tg-theme-subtitle-text-color: #98989E;
    --tg-theme-destructive-text-color: #EB5545;
    --tg-theme-section-bg-color: #2C2C2E;
    --tg-theme-accent-text-color: #3E88F7;
    --tg-theme-section_header_text_color: #8D8E93;
    --tg-theme-section-separator-color: #545458;
    --text-confirm-color: #30D158;
    --quaternary-fill-background: rgba(118, 118, 128, 0.18);
}


body {
 	margin: 0;
	padding: 0;
	font-family: -apple-system, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: var(--tg-theme-secondary-bg-color);
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}