.navPanel {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 200;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    min-height: 60px;
    top: 0;
    left: 0;

    :global(body.material) & {
        padding-top: 14px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.12);
    z-index: 199;
    will-change: opacity;
}

.bounds {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: var(--quaternary-fill-background);
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    position: relative;
    z-index: 201;
    will-change: background-color;

    .avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-size: contain;
        will-change: transform;
    }

    svg,
    path {
        fill: var(--tg-theme-text-color);
    }

    &.transparent {
        background-color: transparent;
    }
}

.dropdownWrapper {
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    will-change: transform;
    z-index: 202;
}

.dropdownControl {
    padding: 9px 12px;
    border-radius: 26px;
    color: var(--tg-theme-text-color);
    text-align: center;
    background-color: rgba(from var(--tg-theme-section-bg-color) r g b / 0.7);
    overflow: hidden;
    will-change: width, height, border-radius;
    z-index: 202;
}

.contentWrapper {
    position: relative;
    will-change: transform, opacity, filter;
}

.items {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 36px);
    text-align: left;
    gap: 6px;
}

.item {
    padding: 4px 0;
    --cell-separator-height: 0;
    border-radius: 20px;
    border: 0.33px solid var(--tg-theme-section-separator-color);
    margin: 3px 0;

    &.active {
        border: 2px solid var(--tg-theme-accent-text-color);
    }
}
