.label {
    color: var(--tg-theme-text-color);
    font-variant-numeric: lining-nums tabular-nums;

    &.accent {
        color: var(--tg-theme-accent-text-color);
    }
}

.description {
    color: var(--tg-theme-text-color);
}

.caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--tg-theme-subtitle-text-color);
}
